<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>ToDoList Web Application</title>
</head>
<body>
<div class="container">
    <div class="content">
        <nav class="navbar navbar-light bg-light">
            <div class="container-fluid">
                <div class="container-sm" style="text-align: center;">
                    <h1 class="mt-2 mb-4">
                        <a class="btn btn-secondary btn-lg" href="/" role="button">ToDoList</a>
                    </h1></div>
                <div class="container-sm" style="text-align: center;">
                    <form class="d-flex" action="{% url 'search_results' %}" method="get">
                        <input class="form-control me-2" name="query" type="text" placeholder="Search"
                               aria-label="Search">
                        <button name="taskSearch" class="btn btn-outline-success" value="taskSearch" type="submit">
                            Search
                        </button>
                        <div class="container-sm" style="text-align: right;"><input class="btn btn-outline-success"
                                                                                    type="button" value="Back"
                                                                                    onclick="history.back()"></div>

                    </form>
                </div>
            </div>
        </nav>
        <form class="row g-3" action="" method="post">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-floating">
                    <input type="text" class="form-control" id="task_name" placeholder="Task name" name="task_name">
                    <label for="task_name">Task name</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <select class="form-select" id="category" aria-label="Floating label select example"
                            name="category_name">
                        <option selected>Choose category</option>
                        {% for category in categories %}
                            <option class="" value="{{ category.category_name }}"
                                    name="{{ category.category_name }}">{{ category.category_name }}</option>
                        {% endfor %}
                    </select>
                    <label for="category">Category</label>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-floating">
                    <input type="date" id="deadline_date" class="form-control" name="deadline_date">
                    <label for="deadline_date">Deadline date</label>
                </div>
            </div>
            <div class="col-12">
                <div class="form-floating">
                    <textarea type="text" class="form-control" id="description" placeholder="Description"
                              name="description"></textarea>
                    <label for="description">Description</label>
                </div>
            </div>


            <div class="col-2" style="text-align: center;">
                <button name="taskAdd" type="submit" class="btn btn-outline-primary btn-lg btn-block"><i
                        class="fa fa-plus icon"></i>Add task
                </button>
            </div>
            <div class="col-1">
                <button name="taskDelete" formnovalidate="" type="submit" onclick="$('input#sublist').click();"
                        class="btn btn-outline-primary btn-lg btn-block">Delete
                </button>
            </div>

            <table class="table table-hover">
                <thead>
                <tr>
                <thead>
                <th scope="col">Delete</th>
                <th scope="col">

                    <a href="/name/">Name
                    </a>


                </th>
                <th scope="col"><a href="/deadline/">Created date - deadline date</a></th>
                <th scope="col">Days left</th>
                <th scope="col"><a href="/category/">Category</a></th>
                </tr>
                </thead>
                <tbody>
                {% for todo in object_list %}
                    {% if todo.time_interval < 2 %}
                        <tr class="table-danger">
                            {% elif todo.time_interval < 10 %}
                        <tr class="table-warning">
                            {% else %}
                        <tr class="table-secondary">
                    {% endif %}
                <td>
                    <div class="form-check">
                        <label class="form-check-label">
                            <input type="checkbox" class="form-check-input" name="checkbox"
                                   id="{{ todo.id }}"
                                   value="{{ todo.id }}">
                            <label class="form-check-label" for="{{ todo.id }}">
                            </label>
                        </label>
                    </div>
                </td>
                <td><a class="list-group-item list-group-item-action list-group-item-primary"
                       data-bs-toggle="collapse" href="#read_description{{ todo.id }}" role="button"
                       aria-expanded="false" aria-controls="read_description">
                    <div class="form-check">
                        <span class="complete-">{{ todo.task_name }}</span>
                    </div>
                </a>

                    <div class="collapse" id="read_description{{ todo.id }}">
                        <label class="form-check-label" for="{{ todo.description }}">
                            <span class="complete-">{{ todo.description }}</span>
                        </label>

                    </div>

                <td>
                    <strong class="taskDate"><i class="fa fa-calendar"></i>{{ todo.created_at }}
                        - {{ todo.deadline_date }}
                    </strong></td>
                <td>
                    <strong class="taskDate"><i
                            class="nav justify-content-center"></i>{{ todo.time_interval }}
                    </strong></td>
                <td>
                    <strong class="taskDate"><i class="nav justify-content-center"></i>{{ todo.category }}
                    </strong></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </form>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>
</body>
</html>
